extends partials/templates/template.pug

block content
  +b.SECTION.page
    .container
      .row
        .col-xs-12.col-xl-8
          +b.SECTION.breadcrumbs
            a(href="index.html") Сертификационный центр Промотест
            ='>'
            span Новости
          // Content
          +b.SECTION.content
            +e.H1.title Новости
            // News
            +e.news
              +b.ARTICLE.news
                +e.date 18.08.2016
                +e.H2.subtitle
                  a(href="single-news.html") Сертификация цемента стала обязательной
                +e.excerpt Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению с 7 марта обязательной оценке качества стали подлежать такие виды цемента как ... 
                +e.A.more-link(href="single-news.html") Подробнее
              +b.ARTICLE.news  
                +e.date 18.08.2016
                +e.H2.subtitle
                  a(href="single-news.html") Россия ограничила поставки белорусской продукции на российский рынок
                +e.excerpt К комиссии ЕАЭК 10 февраля поступило обращение от службы по фитосанитарному и ветеринарному контролю о временных ограничениях на ввоз на территорию России товаров, которые были произведены ОАО «Слуцкий сыродельный комбинат», его любанскими и копыльскими филиалами в республике Беларусь, в связи с многочисленными ... 
                +e.A.more-link(href="single-news.html") Подробнее                
              +b.ARTICLE.news
                +e.date 18.08.2016  
                +e.H2.subtitle
                  a(href="single-news.html") 1 января введено эмбарго на ряд турецких товаров
                +e.excerpt В.Путин подписал указ №583 от 28 ноября 2015г. согласно которому начиная с 1 января 2016 года введены специальные меры экономического зарактера в отношении Турецкой республики. В указе утверждается список продукции, материалов и сырья запрещённых к импорту в РФ. В список вошли такая пищевая продукция как томаты, капуста, огурцы, ... 
                +e.A.more-link(href="single-news.html") Подробне
              +b.SECTION.pagination
                span Страницы:
                +e.A.number--current(href="page-questions.html") 1
                +e.A.number(href="page-questions.html") 2
                +e.A.number(href="page-questions.html") 3
        .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-0
          include partials/components/sidebar.pug



