extends partials/templates/template.pug

block content
  +b.SECTION.page--contacts
    .container
      .row
        .col-xs-12.col-xl-8
          include partials/components/contacts.pug
        .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-0
          include partials/components/sidebar.pug

