extends partials/templates/template.pug

block content
  +b.SECTION.page
    .container
      .row
        .col-xs-12.col-xl-8
          +b.SECTION.breadcrumbs
            a(href="index.html") Сертификационный центр Промотест
            ='>'
            span Сертификация продукции
          // Content
          +b.SECTION.content
            +e.H1.title Сертификация продукции
            +b.glossary
              +e.H2.title Глоссарий
              +e.UL.list       
                +e.item--all Все записи:
                +e.item
                  +e.link(href="letter-glossary.html") А
                +e.item
                  +e.link(href="letter-glossary.html") Б
                +e.item
                  +e.SPAN.letter В
                +e.item
                  +e.link(href="letter-glossary.html") Г
                +e.item
                  +e.link(href="letter-glossary.html") Д
                +e.item
                  +e.link(href="letter-glossary.html") Е
                +e.item
                  +e.SPAN.letter Э
                +e.item
                  +e.SPAN.letter Ю
                +e.item
                  +e.link(href="letter-glossary.html") Я

            +e.text 
              p Сертификация продукции — это документальное подтверждение ее соответствия действующим нормативам качества: техническим регламентам или ГОСТам. Получить сертификат можно абсолютно на любой вид товара, только в одних случаях сертификация продукции является обязательной процедурой, а в других получить сертификат можно добровольно. Для того, чтобы узнать, что делать в вашем конкретном случае, нужно обратиться к специальному перечню товаров, для которых требуется получение сертификата в обязательном порядке. Если товара в этом списке нет, значит, получить сертификат можно по желанию.
              p Сертификация продукции осуществляется как в виде оформления непосредственно сертификата, так и в виде декларирования. И сертификат, и декларация имеют равный вес, но в их оформлении существует ряд отличий (например, декларация заполняется не на специальном бланке, а на обычном листе бумаги). Подробнее о том, что такое декларация и чем она отличается от сертификата, читайте в специальной статье нашего сайта.
              p Наряду с обычной, существует также пожарная сертификация продукции. Она необходима в том случае, если данный вид товара может представлять потенциальную пожарную опасность (легко воспламеняется), либо в случае возникновения пожара выделять при горении вредные вещества (например, это относится ко многим материалам, используемым для внутренней отделки помещений).
              p Существуют и другие виды сертификатов, в частности, хлебный, фитосанитарный, сертификат менеджмента качества ИСО и другие. Подробнее об этом читайте на нашем сайте. Здесь же в разделе «Сертификация продукции» вы сможете узнать, в какой именно форме осуществляется сертификация продукции в вашем случае.
              h2 Сертификация продукции: процедура
              p Сертификационный центр «Мостест» поможет вам получить сертификат на продукцию любого вида, избавив вас тем самым от долгих и дорогостоящих оформлений. Здесь на консультации вам расскажут, какой именно документ вам требуется получить и какие нормативы качества распространяются на ваш товар.
              p Для того, чтобы получить сертификат на продукцию, в центр передаются такие документы, как:
              ul
                li заявление от соискателя;
                li копии уставных документов производителя, либо, если он — не юридическое лицо, удостоверения личности;
                li описание товара;
                li другие документы по мере необходимости;
                li протоколы лабораторных испытаний, которые осуществляются также при центре «Мостест».
              p Сертификация продукции осуществляется именно на основании этих испытаний: если они дали положительный результат, получить сертификат на продукцию вам уже не составит труда.
              p Центр сертификации «Промотест» осуществляет выдачу разрешительных документов Госстандарта и других контролирующих систем.

        .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-0
          include partials/components/sidebar.pug



