extends partials/templates/template.pug

block content
  +b.SECTION.page
    .container
      .row
        .col-xs-12.col-xl-8
          +b.SECTION.breadcrumbs
            a(href="index.html") Сертификационный центр Промотест
            ='>'
            a(href="page-questions.html") Вопросы и ответы
            ='>'
            span Сертификация игрушек авторской работы
          // Content
          +b.SECTION.content
            +b.ARTICLE.question
              +e.H1.title Сертификация игрушек авторской работы  
              +e.ask
                +e.person Оксана (Москва и Московская область, 13 июля 2016)
                +e.text
                  p Я изготавливаю авторские игрушки из полимерной глины, меха, проволоки, паралона и разукрашиваю акриловыми красками. Необходимы ли мне какие нибудь сертификаты на продажу данных изделий?
              +e.answer
                +e.person Анастасия, +7 (495) 783-29-26, otdel@promotest.info 
                +e.text
                  p Добрый день,Оксана! 
                  p Если у вас данная продукция будет продаваться как сувенир, то вы на этикетке должны указывать что у вас сувенирная продукция. В РФ она не подлежит обязательной сертификации.
                  p В таком случае можно оформить добровольной сертификат и отказное письмо, что продукция не подлежит обязательной сертификации.
                  p Если вы будете позиционировать как игрушки и с ними будут играть дети,то данная продукция подлежит оформлению сертификата по Тех.Регламенту Таможенного Союза "О безопасности игрушек".
                  p Для просчета стоимости необходимо предоставить полное описание с указанием тех.характеристик,вида материала из которого изготовлена каждая игрушка и возраст детей.
            +e.A.link(href="page-questions.html") Назад
        .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-0
          include partials/components/sidebar.pug



