.breadcrumbs{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: $font-size-small;
  a{
    margin-right: 10px;
  }
  a:not(:first-child){
    margin-left: 10px;
  }
  span{
    display: inline-block;
    margin-left: 10px;
  }
}
