.btn{
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 8px; 
  background-color: $btn-blue;
  border-color: $btn-border;
  box-shadow: 0px 2px 4px 0px $btn-box-shadow, inset 0px 3px 0px 0px rgba(255, 255, 255, 0.25);
  text-shadow: 0px -2px 0px $btn-box-shadow;
  color: $text-color-white;
  font-weight: 700;   
  padding: 10px 20px;
  margin: 0;
  &:hover, &:focus, &:active{
    color: $text-color-white;
    text-decoration: none;
    box-shadow: 0 0 7px 1px $btn-box-shadow-hover;
  }
  &--form{
    margin-bottom: 40px;    
    background-color: $body-bg;
    color: $dark-blue; 
    border: none;
    text-shadow: none; 
    &:hover, &:focus, &:active{
      color: $dark-blue;
      box-shadow: 0 0 7px 1px $text-color-white;
    }       
  }
  &--vk{
    background-image: -moz-linear-gradient( 0deg, rgb(215,215,215) 0%, rgb(46,77,102) 0%, rgb(106,142,179) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(215,215,215) 0%, rgb(46,77,102) 0%, rgb(106,142,179) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(215,215,215) 0%, rgb(46,77,102) 0%, rgb(106,142,179) 100%);
    background-image: linear-gradient( 0deg, rgb(215,215,215) 0%, rgb(46,77,102) 0%, rgb(106,142,179) 100%);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 22px;    
    margin-top: 40px; 
    margin-bottom: 20px;
    &:before{
      content: "";
      display: inline-block;
      margin-right: 10px;
      @include sprite($s-vk);
    }
  } 
  &--wide{
    padding: 10px 50px;
  } 
}
.all-link{
  position: absolute;
  right: 0;
  top: 30px;  
  font-size: $font-size-directions;
  color: $grey; 
  &:after{
    content: '';
    display: inline-block;
    margin-left: 10px;
    @include sprite($s-block-arrow);
  }
  &--bottom{
    top: inherit;
    bottom: 0;
    right: 20px;
  }
}