.city{
  margin-top: 30px;
  margin-right: 10px;
  position: relative;
  text-align: right;
  @include mq($from:md, $until:lg){
    margin-right: -50px;
  }
  @include mq($from:xs, $until:sm){
    text-align: center;
    margin-right: 0;
  }
  &__name{
    &:after{
      content: "";
      position: absolute;
      @include sprite($s-city-arrow);      
      top: 13px;
      right: -25px;
      @include mq($from:xs, $until:sm){
        right: 50px;
      }      
    }
  }
  &__choise{
    margin-top: 15px;
    font-size: $font-size-small;
    a{
      color: $light-blue;
      border-bottom: 1px dashed $light-blue;
      &:hover, &:focus{
        background-color: $dark-blue;
        color: $white;
        border-bottom: 1px dashed $white;
      }      
    }
  }
  &__dropdown{
    display: none;
    text-align: left;
    font-size: $font-size-promo;
    position: absolute;
    z-index: 3;
    bottom: -10px;
    right: 0;
    padding-left: 0;
    margin: 0;
    transform: translateY(100%);    
    list-style-type: none;
    border: 1px solid $black;
    background-color: $body-bg;
  }
  &__item{
    cursor: pointer;
    padding: 5px 15px;
    @include transition();
    &:hover, &:focus{
      background-color: $dark-blue;
      color: $white;
    }
  }
}