.footer{
    border-top: 3px solid $dark-blue;
    padding-top: 40px;
  // @include mq($from:xs, $until:sm){
  //   padding: 0;
  // } 

  &__address{
    margin-top: 40px;
    font-size: $font-size-content;
  }
  &__contact-info{
    margin-top: 20px;
    font-size: $font-size-content;    
  }
  &__email-wrapper{
    display: block;
  }
  &__email{
    color: $dark-blue;
    font-size: $font-size-promo; 
  }
  &__tel-wrapper{
    display: block;
  }
  &__tel{
    color: $dark-blue;
    font-size: $font-size-promo; 
  }
  &__working-hours{
    margin-top: 20px;
    font-size: $font-size-content;  
  }

  &__copyright{
    text-align: center;
    font-size: $font-size-small;
    color: $light-blue;
    margin: 0;
    padding: 30px 0;
  }
}

.documents{
  margin-top: 20px;
  margin-bottom: 20px;
  &__title{
    margin: 0;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: $font-size;
    font-weight: $regular;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size-content;
  }
  &__item{
    margin: 15px 0;
  }
}
.widget-vk{

  &__inner{
    margin-top: 20px;
    text-align: center;
    background-color: $border-grey;
    width: 100%;
    height: 240px; 
    span{
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}