.has-success{
  input, textarea{
    border: 2px solid $success;
    box-shadow: none;
  }
}
.has-error{
  input, textarea{
    border: 2px solid $error;
    box-shadow: none;
  }
  .help-block{
    display: block;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
  margin: 0 0 20px;
}
.help-block-success{
  margin: 0;
  padding-bottom: 20px;
}


