.glossary{
  text-align: left;
  color: $text-color;
  margin-top: 20px;
  margin-bottom: 20px;

  &__text{
    display: inline-block;
    margin-right: 10px;
  }
  &__list{
    margin: 0;
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
  }
  &__item{
    display: inline-block;
    padding: 5px 10px;
    &--all{
      padding: 5px 10px 5px 0;
    }
  }
  &__link{
    color: $text-color;
    &:hover, &:focus, &:active{
      color: $dark-blue;
    }    
  } 
}
