.location{
  margin-top: 40px;
  &__map{
    width: 100%;
    position: relative;
  }
  &__map-region{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__managers{
    margin-top: 40px;
    text-align: left;
    @include mq($from:xs, $until:xl){
      text-align: center;
    }     
  }
}
.manager{ 
  &__name{
    font-weight: $regular;
    font-size: $font-size;
  }
  &__icq{
    display: inline-block;
    margin-right: 20px;
    &:before{
      content: "";
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-contacts-icq);
    }
  }
  &__skype{
    display: inline-block;
    &:before{
      content: "";
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-contacts-skype);
    }
  }
}