.managers{
  // margin-top: 40px;
  &__title{
    margin: 0;
    padding: 10px 0;
    font-size: $font-size-title;
    color: $dark-blue;
    font-weight: $semibold;
    // position: relative;    
    // font-weight: $bold;
    // font-size: $font-size-subtitle;
    // @include mq($from:xs, $until:sm){
    //   font-size: $font-size-promo;
    // }
  }
  &__persons{    
    text-align: left;
  }
}
.manager{ 
  &__name{
    font-weight: $regular;
    font-size: $font-size;
    display: inline-block;
    margin: 10px 20px 10px 0;
    min-width: 160px;
  }
  &__icq{
    display: inline-block;
    margin-right: 20px;
    &:before{
      content: "";
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-contacts-icq);
    }
  }
  &__skype{
    display: inline-block;
    &:before{
      content: "";
      display: inline-block;
      margin-right: 5px;
      @include sprite($s-contacts-skype);
    }
  }
}

.mcc_form_icq_group_block{
  display: flex;
  flex-wrap: wrap;
}
.mcc_form_icq_element_skype{
  order: -1;
  margin-right: 10px;
}