.nav{
  padding-bottom: 10px;
  border-bottom: 2px solid $dark-blue;
  @include mq($from:xs, $until:md){
    border-bottom: none;
  }

  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:md){
      display: block;
    }
  }  
  &__wrapper{
    @include mq($from:xs, $until:md){
      display: none;
    }    
  }
  &__list{
    font-size: $font-size;
    padding-left: 0;     
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include mq($from:xs, $until:md){
      display: block;
      text-align: center;
    }     
  }
  &__item{
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    &:first-child{
      padding-left: 0;
    }
    @include mq($from:md, $until:lg){
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq($from:xs, $until:md){
      // display: none;
      padding: 0 0 15px;
    }
 
    &:hover, &:focus, &:active{
      .nav__link{
        color: $light-blue;
      }    
      .dropdown-menu{
        display: flex;
      }
    }
  } 

  &__slash{
    @include mq($from:xs, $until:md){
      display: none;
    }    
  }

  &__link{
    padding-top: 10px;
    padding-bottom: 15px;
    @include mq($from:xs, $until:md){
      padding-bottom: 5px;
    } 
    &--active{
      border-bottom: 5px solid $light-blue; 
    }
  }
  &__title{
    margin: 0;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: $font-size;
    font-weight: $regular;
  }


  &--footer{
    margin-top: 20px;
    border-bottom: none;
    
    .nav__list{
      display: block;
      text-align: left;
      font-size: $font-size-content;
    }
    .nav__item{
      margin: 15px 0;
      padding: 0;
      &:after{
        content: "";
      }
    }
    .nav__link{
      padding-bottom: 0;
      &--active{
        border-bottom: 2px solid $light-blue; 
      }      
    }
  }
}

.dropdown-menu{
  font-size: $font-size-promo;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  background-color: $body-bg;
  border: 2px solid $dark-blue;
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 0;
  transform: translateY(100%);
  flex-wrap: wrap;
  width: 100%;
  @include mq($from:xs, $until:md){
    bottom: 5px;
  }

  &__item{
    flex: 0 0 20%;
    max-width: 20%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:hover, &:focus, &:active{
      background-color: $light-blue;
      .dropdown-menu__link{
        color: $text-color-white; 
        transition: none;       
      }
    }    
  }
  &__link{
    display: inline-block;
    padding: 15px;
    // word-wrap: break-word;
    @include mq($from:xs, $until:lg){
      padding: 5px;
      font-size: 0.9em;
    }
  }  
}

.search{
  margin-top: -5px;
  position: relative;
  padding-left: 20px;
  @include mq($from:md, $until:lg){
    padding-left: 10px;
  } 
  @include mq($from:xs, $until:md){
    padding-left: 0;
  } 

  &__form{
    @include mq($from:md, $until:xl){
      position: absolute;
      right: 0;
      display: none;
    }    
    @include mq($from:xs, $until:md){
      position: relative;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }    
  }
  &__input{
    width: 380px;
    font-size: $font-size-small;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    @include mq($from:xs, $until:xl){
      width: 300px;
    }    
    &:hover, &:focus{
      outline: none;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }    
  }
  &__icon{
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    @include sprite($s-loupe);    
    background-color: transparent;
    border: none;
    outline: none;
    
    @include mq($from:md, $until:lg){
      position: relative;
      top: inherit;
      right: 10px; 
      transform: none;
      display: inline-block;
      vertical-align: bottom;
    }  
    @include mq($from:xs, $until:md){
      position: relative;
      transform: none;
      display: inline-block;
            
    }       
  }
}


.hamburger{
  transition: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  @include sprite($s-hamburger);
}

.hamburger--close{
  @include sprite($s-hamburger-close);
}