.nav{
  // padding-bottom: 10px;
  border-bottom: 2px solid $dark-blue;
  display: flex;
  align-items: center;
  @include mq($from:xs, $until:md){
    border-bottom: none;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__hamburger{
    display: none;
    flex: 0 0 100%;
    text-align: center;
    @include mq($from:xs, $until:md){
      display: block;
    }
  }  
  &__wrapper{
    flex: 1 1 auto;
    @include mq($from:xs, $until:md){
      display: none;
    }    
  }
  &__list{
    font-size: $font-size;
    padding-left: 0;     
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include mq($from:xs, $until:md){
      display: block;
      text-align: center;
    }
  }
  &__item{
    flex: 1 1 auto;

    &:first-child{
      > a{
        padding-left: 0;
      }
    }

    &:hover, &:focus, &:active{
      > a{
        color: $light-blue;
      }    
      .dropdown-menu, .sub-menu{
        display: flex;
      }
    }
  }
  &__item--active{
    > a{
      border-bottom: 5px solid $light-blue;
    }
  }

  &__link{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    @include mq($from:md, $until:lg){
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq($from:xs, $until:md){
      padding: 0 0 15px;
    }
    &:after{
      content:'/';
      position: absolute;
      right: 0;
      top: 0.5em;
      @include mq($from:xs, $until:md){
        display: none;
      }
    }
    @include mq($from:xs, $until:md){
      padding-bottom: 5px;
    }
  }
  /* for wordpress */
  .nav__list > li{
    &:first-child{
      > a{
        padding-left: 0;
      }
    }
    &:hover, &:focus, &:active{
      > a{
        color: $light-blue;
      }    
      .dropdown-menu, .sub-menu{
        display: flex;
      }
    }
  }
  .nav__list > li > a {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    @include mq($from:md, $until:lg){
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq($from:xs, $until:md){
      padding: 0 0 15px;
    }
    &:after{
      content:'/';
      position: absolute;
      right: 0;
      top: 0.5em;
      @include mq($from:xs, $until:md){
        display: none;
      }
    }
    @include mq($from:xs, $until:md){
      padding-bottom: 5px;
    }
  }
  .nav__list .current_page_item > a{
    border-bottom: 5px solid $light-blue;
  }
  /* end for wordpress */



  &__title{
    margin: 0;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: $font-size;
    font-weight: $regular;
    flex: 0 0 100%;
  }


  &--footer{
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: none;
    
    .nav__list{
      display: block;
      text-align: left;
      font-size: $font-size-content;
    }
    &__item, .menu-item{
      margin: 15px 0;
      padding: 0;
      &:after{
        content: "";
      }
      .nav__link{
        padding: 0;
        &:after{
          display: none;
        }       
      }
    }
    /* wp */
    .nav__list > li > a{
      padding: 0;
      &:after{
        display: none;
      }
    }
    .nav__list .current_page_item > a{
      border-bottom: none;
    } 
    /* end wp */  
  }
}

.dropdown-menu, .sub-menu{
  font-size: $font-size-promo;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  background-color: $body-bg;
  border: 2px solid $dark-blue;
  display: none;
  position: absolute;
  z-index: 4;
  bottom: 15px;
  left: 0;
  transform: translateY(100%);
  flex-wrap: wrap;
  width: 100%;
  @include mq($from:xs, $until:md){
    bottom: 5px;
  }

  &__item, .menu-item{
    flex: 0 0 20%;
    max-width: 20%;
    @include mq($from:xs, $until:lg){
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:hover, &:focus, &:active{
      background-color: $light-blue;
      a{
        color: $text-color-white; 
        transition: none;       
      }
    }   
  } 
  &__link, a{
    color: $text-color;
    display: inline-block;
    padding: 15px;
    @include mq($from:xs, $until:lg){
      padding: 5px;
      font-size: 0.9em;
    }
  } 
}

.search{
  flex: 0 0 auto;
  min-width: 15px;
  padding-bottom: 5px;
  margin-top: -5px;
  position: relative;
  margin-left: 20px;

  @include mq($from:md, $until:lg){
    margin-left: 10px;
  } 
  @include mq($from:xs, $until:md){
    margin-left: 0;
    flex: 0 0 100%;
    text-align: center;
  } 

  &__inner{
    width: 380px;
    @include mq($from:xs, $until:xl){
      width: 260px;
      display: none;
    } 
    @include mq($from:xs, $until:md){
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__form{
    @include mq($from:md, $until:xl){
      position: absolute;
      right: 0;
    }    
    @include mq($from:xs, $until:md){
      position: relative;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }    
  }
  &__input{
    width: 380px;
    font-size: $font-size-small;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    @include mq($from:xs, $until:xl){
      width: 260px;
    }    
    &:hover, &:focus{
      outline: none;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }    
  }
  &__icon{
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    @include sprite($s-loupe);    
    background-color: transparent;
    border: none;
    outline: none;
    
    @include mq($from:md, $until:lg){
      position: relative;
      top: inherit;
      right: 10px; 
      transform: none;
      display: inline-block;
      vertical-align: bottom;
    }  
    @include mq($from:xs, $until:md){
      position: relative;
      transform: none;
      display: inline-block;
      // margin-left: auto;
      // margin-right: auto;      
    }       
  }
}


.hamburger{
  transition: none;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  @include sprite($s-hamburger);
}

.hamburger--close{
  @include sprite($s-hamburger-close);
}