.news-section{

  &__inner{
    background-image: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25) 50%, rgba(0,0,0,0)), linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25) 50%, rgba(0,0,0,0));
    background-repeat: no-repeat, no-repeat; 
    background-position: 50% 100%, 50% 0;
    background-size: 100% 1px, 100% 1px; 
    padding-bottom: 20px; 
    padding-top: 20px;   
  }
  &__title{
    position: relative;    
    font-weight: $bold;
    font-size: $font-size-subtitle;
    @include mq($from:xs, $until:sm){
      font-size: $font-size-promo;
    }     
    &:after{
      content: '';
      display: block;
      width: 55px;
      height: 3px;
      background-color: $light-blue;
      margin-top: 10px;
    }
    a{
      color: $dark-blue;
      &:hover, &:focus{
        color: $light-blue;
      }      
    }
  }
  &__wrapper{
    display: block;
    position: relative;
    margin: 20px 0;
    &:hover, &:focus{
      color: $light-blue;
    }
  }
  &__icon{
    position: absolute;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $dark-blue;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sprite($s-news-prefix);
    }    
  }
  &__heading{
    display: block;
    margin-left: 50px;
    
    @include mq($from:xs, $until:sm){
      font-size: $font-size-content;
    }     
  }
}

