.pagination{
  display: inline-block;
  text-align: left;
  color: $text-color;
  margin-top: 20px;
  margin-bottom: 20px;

  &__text{
    display: inline-block;
    margin-right: 10px;
  }
  &__list{
    margin: 0;
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
  }

  &__number{
    display: inline-block;
    
    &--current{      
      .pagination__link{
        color: $dark-blue;
        text-decoration: none;
        &:hover, &:focus, &:active{
          color: $dark-blue;
        }
      }
    }
  }
  &__link{
    padding: 5px 5px;
    color: $text-color;
    text-decoration: underline;
    &:hover, &:focus, &:active{
      text-decoration: none;
      color: $text-color;
    }    
  } 
}

.page-numbers{
  padding: 5px;
  color: #010101;
}
a.page-numbers{
  text-decoration: underline;
}