.page{
  text-align: left;
  padding: 20px;

  &__wide-form{
    background-image: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25) 50%, rgba(0,0,0,0)), linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25) 50%, rgba(0,0,0,0));
    background-repeat: no-repeat, no-repeat; 
    background-position: 50% 100%, 50% 0;
    background-size: 100% 1px, 100% 1px;  
    padding: 20px 0 40px;      
    .form__close{
      display: none;
    }
  }
  // &__title{
  //   margin: 0;
  //   padding: 20px 0;
  // } 
  // &__form-wrapper{
  //   width: 50%;
  //   min-width: 500px;
  //   margin: 20px auto 10px;
  //   @include mq($from:xs, $until:sm){
  //     min-width: 100%;
  //   }     
  // }
  // &__float-form{
  //   width: 40%;
  //   min-width: 400px;
  //   float: right;
  //   margin-left: 20px;
  //   @include mq($from:xs, $until:md){
  //     float: none;
  //     margin: 0 auto;
  //   } 
  //   @include mq($from:xs, $until:sm){
  //     min-width: 100%;
  //   }        
  // }
}

