.promo{

  &__gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    text-align: center; 
    background-image: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,.25) 50%, rgba(0,0,0,0));
    background-repeat: no-repeat; 
    background-position: 50% 100%;
    background-size: 100% 1px;
    padding: 40px 0 0;
    @include mq($from:md, $until:lg){
      justify-content: space-around;
    }  
    @include mq($from:xs, $until:sm){
      justify-content: center;
    }       
  }
  &__item{
    display: block;
    padding-bottom: 40px;
    &:hover, &:focus{
      .promo__img:before{
        background-color: rgba(0,0,0,.7);
      } 
      .promo__img:after{
        display: block;
      }
      .promo__title{
        color: $light-blue;
      }
    }
  }
  &__img{
    display: block;
    width: 180px;
    height: auto;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      @include transition();
    }
    &:after{
      content: '';
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include sprite($s-promo-link);
      display: none;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    margin-top: 30px;
    margin-bottom: 0;
    display: inline-block;
    max-width: 180px;
    color: $dark-blue;
    font-weight: $regular;
    font-size: $font-size-promo;
  }
}
