.questions-section{
  margin-top: 40px;
  margin-bottom: 20px;

  &__title{
    margin: 0;  
    font-weight: $bold;
    font-size: $font-size-subtitle;

    @include mq($from:xs, $until:sm){
      font-size: $font-size-promo;
    }    
    &:after{
      content: '';
      display: block;
      width: 55px;
      height: 3px;
      background-color: $light-blue;
      margin-top: 10px;
    }
    a{
      color: $dark-blue;
      &:hover, &:focus{
        color: $light-blue;
      }      
    }
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item{  
    &:after{
      content: "";
      display: block;
      height: 1px;
      background-color: $light-blue;
      margin: 20px 25% 0;
    }
    &:last-child:after{
      content: none;
    }
  } 
  &__subtitle{
    margin: 20px 0 10px;
  }
  &__link{
    font-weight: $bold;
    font-size: $font-size-promo;
    color: $dark-blue;
    &:hover, &:focus{
      color: $light-blue;
    }   
  } 
  &__reply{
    font-size: $font-size-content;
  } 

  &__ask-yourself{
    margin: 30px 0 20px;
    font-weight: $bold;
    text-align: center;
    font-size: $font-size-ask;
  }  
  &__btn{
    text-align: center;    
  }
  
  .all-link{
    @include mq($from:xs, $until:sm){
      position: static;
    }
  }
}