.reviews-section{
  margin-top: 40px;
  margin-bottom: 20px;

  &__title{
    margin: 0 0 30px;
    position: relative;    
    font-weight: $bold;
    font-size: $font-size-subtitle;
    color: $dark-blue;
    @include mq($from:xs, $until:sm){
      font-size: $font-size-promo;
    }    
    &:after{
      content: '';
      display: block;
      width: 55px;
      height: 3px;
      background-color: $light-blue;
      margin-top: 10px;
    }
    a{
      color: $dark-blue;
      &:hover, &:focus{
        color: $light-blue;
      }      
    }
  }
  &__gallery{

  }
  &__slide{
    text-align: center;
  }
  &__link{
    display: inline-block;
    margin-top: 20px; 
    font-size: $font-size-promo;
  }
  &__img{
    display: block;
    width: 175px; 
    height: 220px;
    margin: 0 15px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__modal{
    display: none;
    z-index: 9;
    opacity: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid $grey;  
    img{
      width: auto;
      height: auto;
      max-height: calc(100vh - 40px);
      display: block;
    }
  }
  &__link-block{
    text-align: center;
  }
  &__link-main{
    display: inline-block;
    margin-top: 20px;
    color: $dark-blue;
    font-weight: $bold;
    border-bottom: 1px dashed $dark-blue;  
  }
}
.slick-arrow{
  display: block;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none; 
  padding: 0;   
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-repeat: no-repeat;
}
.slick-prev{
  @include sprite($s-arrow-prev);  
  transform: translate(-150%, -250%);
  &:hover, &:focus{
    transform: translate(-150%, -250%) scale(1.25);
  } 
}
.slick-next{
  @include sprite($s-arrow-next);
  transform: translate(0, -250%);
  &:hover, &:focus{
    transform: translate(0, -250%) scale(1.25);
  } 
}
