.sidebar{
  text-align: center;
  &__form{
    padding-top: 30px;
    padding-bottom: 30px;
    &--static{
      position: static;
    }
    &--sticky{
      position: fixed;
      z-index: 1;
      top: 0;
      bottom: auto;
    }
    &--absolute{
      position: absolute;
      z-index: 1;
      top: auto;
      bottom: -20px;      
    }
  }
  .form__close{
    display: none;
  }
}

