- var application = [{name: 'application', id: 'formApplication', title : 'Заказать документ', application: true, question: false, call: false, button: 'Заказать', success: 'Ваша заявка отправлена'}] 
- var question = [{name: 'question', id: 'formQuestion', title : 'Задать вопрос', application: false, question: true, call: false, button: 'Спросить', success: 'Ваш вопрос отправлен'}] 
- var call = [{name: 'call', id: 'formCall', title : 'Заказать звонок', application: false, question: false, call: true, button: 'Заказать звонок', success: 'Ваша заявка отправлена'}] 


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='', id= item.id)
        +e.A.close(href='#') Закрыть
        +e.H3.title #{item.title}

        if item.application
          .form-group.field-production
            +e.INPUT.input(type='text', name='Продукция', placeholder='Наименование продукции*') 
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-name
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-email
            +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-phone.required
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон')
            p.help-block.help-block-error Ошибка заполнения поля формы            

        if item.question
          .form-group.field-name.required
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-email.required
            +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question.required
            +e.TEXTAREA.textarea(type='text', name='Ваш вопрос', placeholder='Ваш вопрос*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        //- if item.call
        //-   .form-group.field-name
        //-     +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы
        //-   .form-group.field-phone.required
        //-     +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон*')
        //-     p.help-block.help-block-error Ошибка заполнения поля формы

        .form-group
          +b.BUTTON.btn--form(type='submit') #{item.button}
          p.help-block.help-block-success #{item.success}
