@charset "UTF-8";

// 3rd party
@import "partials/abstracts/variables";
@import "partials/abstracts/bootstrap-flex";
@import "vendor/normalize";
@import "vendor/mq";
@import "vendor/slick";

// Abstracts
// @import "partials/abstracts/functions";
@import "partials/abstracts/mixins";
// @import "partials/abstracts/placeholders";
// @import "partials/abstracts/helpers";
@import "partials/abstracts/png-sprite";

// Base
// @import "partials/base/typography";
@import "partials/base/template";

// Components
@import "partials/components/header";
@import "partials/components/sidebar";
@import "partials/components/footer";
@import "partials/components/page";
@import "partials/components/overlay";
@import "partials/components/breadcrumbs";
@import "partials/components/pagination";

@import "partials/components/btn";
@import "partials/components/nav";
@import "partials/components/city";
@import "partials/components/promo";
@import "partials/components/services";
@import "partials/components/location";
@import "partials/components/news";
@import "partials/components/news-section";
@import "partials/components/reviews";
@import "partials/components/reviews-section";
@import "partials/components/question";
@import "partials/components/questions-section";

@import "partials/components/content";
@import "partials/components/office";


@import "partials/components/form";
@import "partials/components/form-states";



