include ../abstracts/mixins/_content-item.pug
include ../abstracts/bemto/bemto.pug

// Content
+b.SECTION.content
  +e.H1.title Мы работаем по всей России
  .container
    .row
      +contentItem("Сертификат ГОСТ Р")
      +contentItem("Добровольный сертификат ГОСТ Р")
      +contentItem("Декларация ГОСТ Р")
      +contentItem("Сертификат ТР ТС")
      +contentItem("Декларация ТР ТС")
      +contentItem("Государственная регистрация продукции")
      +contentItem("Экспертное заключение Ростпотребнадзора")
      +contentItem("Отказное письмо")
      +contentItem("Сертификат на услуги")
      +contentItem("Технические условия")
      +contentItem("Нормативно-техническая документация")
      +contentItem("Пожарный сертификат")
      +contentItem("Пожарная декларация")
      +contentItem("СБК ТС")
      +contentItem("Сертификат происхождения")
      +contentItem("Сертификат ИСО")
      +contentItem("Сертификат на цемент")
      +contentItem("Штрихкодирование")
      +contentItem("Патентование")
      +contentItem("Экспертиза промышленной безопасности")
      +contentItem("Озоновое заключение")
      +contentItem("Декларация Минсвязи")
      +contentItem("Нотификация ФСБ")
      +contentItem("Лицензия Минпромторга")


