include ../abstracts/mixins/_office.pug
include ../abstracts/bemto/bemto.pug

- var spb = [{title : 'Санкт-Петербург', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'Станция метро: "Площадь Восстания", 2-я Советская ул., д. 7, 1 эт., оф. 111', email: 'info@promotest.info', fax: '+7 (812) 332-17-05', tel: '+7 (812) 927-94-50', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.9865911230468!2d30.363821316222204!3d59.93236466956664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bc96367907%3A0x91ac31eeac4480e5!2zMi3RjyDQodC-0LLQtdGC0YHQutCw0Y8g0YPQuy4sIDcsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTEwMzY!5e0!3m2!1sru!2sru!4v1471293893511'}] 
- var msk = [{title : 'Москва', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'Станции метро: "Таганская" / "Марксистская", ул. А. Солженицына, д. 11, стр. 1, офис 5', email: 'otdel@promotest.info', fax: '+7 (495) 783-29-26', tel: '+7 (495) 669-16-05', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.8696950289673!2d37.6560813161011!3d55.74339300018485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ae8de419ce1%3A0xce620bb74c49a4b8!2z0YPQuy4g0JDQu9C10LrRgdCw0L3QtNGA0LAg0KHQvtC70LbQtdC90LjRhtGL0L3QsCwgMTEsINCc0L7RgdC60LLQsCwgMTA5MDA0!5e0!3m2!1sru!2sru!4v1472217713776'}] 
- var ekb = [{title : 'Екатеринбург', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Розы Люксембург, д. 51', email: 'info@promotest.info', tel: '+7 (343) 253-28-14', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.977519681184!2d60.612608316131734!3d56.82917491592866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e92362391ed%3A0xdebbb22cfed8d2ca!2z0YPQuy4g0KDQvtC30Ysg0JvRjtC60YHQtdC80LHRg9GA0LMsIDUxLCDQldC60LDRgtC10YDQuNC90LHRg9GA0LMsINCh0LLQtdGA0LTQu9C-0LLRgdC60LDRjyDQvtCx0LsuLCA2MjAwMjY!5e0!3m2!1sru!2sru!4v1472217833130'}] 
- var krasnodar = [{title : 'Краснодар', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Северная, д. 319', email: '23@promotest.info', tel: '+7 (861) 944-13-65', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.3047761264547!2d38.98351231582549!3d45.03903676973211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04f9aa520f203%3A0x84660deca0153fb4!2z0YPQuy4g0KHQtdCy0LXRgNC90LDRjywgMzE5LCDQmtGA0LDRgdC90L7QtNCw0YAsINCa0YDQsNGB0L3QvtC00LDRgNGB0LrQuNC5INC60YDQsNC5LCAzNTAwMTU!5e0!3m2!1sru!2sru!4v1472219748608'}] 
- var kazan = [{title : 'Казань', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Право-Булачная, д. 13', email: 'kazan@promotest.info', tel: '+7 (843) 258-56-07', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.9918169724515!2d49.104916316102404!3d55.793379996328916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead22ab1a54ad%3A0xf28f0b852c006ae0!2z0J_RgNCw0LLQvi3QkdGD0LvQsNGH0L3QsNGPINGD0LsuLCAxMywg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAxMTE!5e0!3m2!1sru!2sru!4v1472219939353'}] 
- var rostov = [{title : 'Ростов-на-Дону', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'Буденновский пр., д. 62/2', email: '61@promotest.info', tel: '+7 (863) 294-99-51', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10839.154331991134!2d39.699196344726154!3d47.22071889015037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YDQvtGB0YLQvtCyINC90LAg0LTQvtC90YMg0JHRg9C00LXQvdC90L7QstGB0LrQuNC5INC_0YAuLCDQtC4gNjIvMg!5e0!3m2!1sru!2sru!4v1472220380117'}] 
- var chelyabinsk = [{title : 'Челябинск', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Карла Маркса, д. 54', email: '351@promotest.info', tel: '+7 (351) 247-10-02', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.005886864385!2d61.40526931608489!3d55.165673144586975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed49133a12d5%3A0xb7c81da0963668b0!2z0YPQuy4g0JrQsNGA0LvQsCDQnNCw0YDQutGB0LAsIDU0LCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0MDkx!5e0!3m2!1sru!2sru!4v1472220912281'}]


+b.SECTION.content
  +e.H1.title Наши офисы
  p Оформить сертификат, получить грамотную консультацию вы можете в любом из наших офисов.
  // Offices
  +e.offices
    +office(spb)
    +office(msk)
    +office(ekb)
    +office(krasnodar)
    +office(kazan)
    +office(rostov)
    +office(chelyabinsk)
