include ../abstracts/bemto/bemto.pug

// Content
+b.SECTION.content
  +e.H1.title Сертификат соответствия ГОСТ Р
  h2 Особенности сертификации в системе ГОСТ Р
  p В рамках заботы о потребительских правах потребителей в России для большинства видов товаров предусмотрен особый сертификационный контроль. В зависимости от категории и предназначения исследование основных параметров продукции осуществляется в различных системах: Госстандарт, МЧС, Роспотребнадзор, Ростехнадзор и др.
  p   Сертификация – это ряд мероприятий, направленных на предоставление потребителям гарантий относительно качества и безопасности изделий, наполняющих внутренний рынок страны. В основе лежат соответствующие акты, определяющие нормативы и стандарты для производимых товаров.
  h2 Сертификация в системе ГОСТ Р. Сертификат соответствия
  p Основной системой сертификации на сегодняшний день является Госстандарт. Именно в этой структуре большинство товаров должны пройти процедуру подтверждения соответствия и получить специальные разрешительные бумаги.
  p Сертификат соответствия – это документ, который свидетельствует, что продукция отвечает нормам и требованиям законодательной базы Российской Федерации, а также предоставляет право потребителю на изготовление, применение и реализацию изделий.
  p Постановлением Правительства определен перечень товаров, для которых контроль в системе ГОСТ Р является обязательным. Если изделия не включены в данный список, изготовитель или продавец имеют право получить экспертное заключение на основе собственного желания. Добровольный сертификат соответствия имеет огромную актуальность в условиях современных рыночных отношений, поскольку предоставляет потребителям дополнительные гарантии качества, соответственно, способствует повышению имиджа продукции.
  p Если оформление добровольного разрешения не планируется, целесообразно будет получить отказное письмо. Такой документ выступает в качестве подтверждения того факта, что для производства и продажи товара сертификат соответствия в обязательном порядке не требуется. Отказное письмо требуется в момент прохождения таможенной процедуры, а также для заключения деловых соглашений.
  p Кроме сертификата системой ГОСТ Р выдается еще один разрешительный документ – декларация соответствия. В соответствии с постановлением Правительства для ряда продукции проверка осуществляется именно в форме декларирования. Фактически документы обладают одинаковой юридической силой. Незначительные отличия существуют только в процессе оформления этих разрешительных свидетельств.
  h2 Как оформить сертификат соответствия
  p Органы сертификации, имеющие аккредитацию ГОСТ Р, осуществляют выдачу таких экспертных заключений на законных основаниях. Для того чтобы получить сертификат соответствия или декларацию, необходимо подать заявление в соответствующий орган и предоставить образцы продукции, а также минимальный пакет документов для изучения специалистами.
  p Следует отметить, что в случае декларирования заявитель самостоятельно заполняет бланк и указывает всю информацию о качестве и безопасности продукции. Это обстоятельство является основной отличительной чертой между данными способами контроля.
  p Важнейшим процессом сертификации в системе ГОСТ Р является исследование продукции в специальных лабораторных условиях. В ходе тестирования изделий результаты фиксируются в протоколе и впоследствии являются основой выводов о соответствии товаров нормам и требованиям, предъявляемым к ним со стороны законодательства. При положительном результате принимается решение о выдаче сертификата либо о заверке декларации.
  p Центр сертификации «Промотест» осуществляет выдачу разрешительных документов Госстандарта и других контролирующих систем.





