include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4.col-xl-4
        // Logo
        +b.A.logo(href="index.html")       
          img(src="img/logo.png", alt="logo", title="logo")
      .col-xs-12.col-sm-6.col-md-3.col-xl-4
        // City
        +b.city
          +e.name Санкт-Петербург
          +e.choise
            a(href="#") выбрать другой город
          +e.UL.dropdown
            +e.item(data-email= "info@promotest.info", data-address= "Станция метро: 'Площадь Восстания', 2-я Советская ул., д. 7, 1 эт., оф. 111", data-prefix= "+7 (812) ", data-tel1= "332-17-05", data-tel2= "927-94-50") Санкт-Петербург
            +e.item(data-email= "otdel@promotest.info", data-address= "Станции метро: 'Таганская' / 'Марксистская', ул. А. Солженицына, д. 11, стр. 1, офис 5", data-prefix= "+7 (495) ", data-tel1= "783-29-26", data-tel2= "669-16-05") Москва
            +e.item(data-email= "info@promotest.info", data-address= "ул. Розы Люксембург, д. 51", data-prefix= "+7 (343) ", data-tel1= "253-28-14") Екатеринбург
            +e.item(data-email= "23@promotest.info", data-address= "ул. Северная, д. 319", data-prefix= "+7 (861) ", data-tel1= "944-13-65") Краснодар
            +e.item(data-email= "kazan@promotest.info", data-address= "ул. Право-Булачная, д. 13", data-prefix= "+7 (843) ", data-tel1= "258-56-07") Казань
            +e.item(data-email= "52@promotest.info", data-address= "ул. Бекетова, д. 3б", data-prefix= "+7 (831) ", data-tel1= "414-41-30") Нижний Новгород
            +e.item(data-email= "61@promotest.info", data-address= "Буденновский пр., д. 62/2", data-prefix= "+7 (863) ", data-tel1= "294-99-51") Ростов-на-Дону
            +e.item(data-email= "26@promotest.info", data-address= "ул. Мира, д. 331", data-prefix= "+7 (865) ", data-tel1= "233-01-38") Ставрополь
            +e.item(data-email= "sochi@promotest.info", data-address= "ул. Егорова, д. 1а", data-prefix= "+7 (862) ", data-tel1= "266-08-02") Сочи
            +e.item(data-email= "82@promotest.info", data-prefix= "+7 (978) ", data-tel1= "982-66-30") Симферополь
            +e.item(data-email= "92@promotest.info", data-prefix= "+7 (978) ", data-tel1= "982-66-32") Севастополь
            +e.item(data-email= "351@promotest.info", data-address= "ул. Карла Маркса, д. 54", data-prefix= "+7 (351) ", data-tel1= "247-10-02") Челябинск
            +e.item(data-email= "51@promotest.info", data-address= "ул. Подгорная, д. 92", data-prefix= "+7 (815) ", data-tel1= "260-74-39") Мурманск
            +e.item(data-email= "minsk@promotest.info", data-address= "ул. Мясникова, д.70", data-prefix= "+375 (33) ", data-tel1= "606-32-18") Минск
            +e.item(data-email= "54@promotest.info", data-address= "Станция метро: 'Маршала Покрышкина', ул. Фрунзе, д. 88, 12 эт., оф. 1205", data-prefix= "+7 (383) ", data-tel1= "310-20-45", data-from= "9:00", data-to= "19:00") Новосибирск
            +e.item(data-email= "riga@promotest.info", data-address= "ул. Рупниецибас, д. 20, оф.5", data-prefix= "+371 ", data-tel1= "67651374") Рига
      .col-xs-12.col-md-5.col-xl-4
        +e.info
          +e.contact-info
            +e.email-wrapper
              +e.A.email(href="mailto:info@promotest.info", target="_blank") info@promotest.info
            +e.tel-wrapper
              +e.A.tel(href="tel:+78123321705", target="_blank") +7 (812) 
                span 332-17-05
          +e.btn 
            +b.A.btn(href="#", data-form="call") Заказать звонок
  .container
    .row
      .col-xs-12                  
        // Nav menu
        +b.NAV.nav
          +e.hamburger
            +b.A.hamburger(href="#")
          +e.UL.list
            +e.item 
              +e.A.link--active(href="index.html") Главная
            +e.slash / 
            +e.item 
              +e.A.link(href="page.html") О нас
            +e.slash / 
            +e.item
              +e.A.link(href="javascript:void(0);") Услуги
              +b.UL.dropdown-menu
                +e.item 
                  +e.A.link(href="page.html") Сертификат ГОСТ Р
                +e.item 
                  +e.A.link(href="page.html") Добровольный сертификат ГОСТ Р
                +e.item 
                  +e.A.link(href="page.html") Декларация ГОСТ Р
                +e.item
                  +e.A.link(href="page.html") Сертификат ТР ТС
                +e.item 
                  +e.A.link(href="page.html") Декларация ТР ТС
                +e.item 
                  +e.A.link(href="page.html") Государственная регистрация продукции
                +e.item 
                  +e.A.link(href="page.html") Экспертное заключение Ростпотребнадзора
                +e.item
                  +e.A.link(href="page.html") Отказное письмо 
                +e.item 
                  +e.A.link(href="page.html") Сертификат на услуги
                +e.item 
                  +e.A.link(href="page.html") Технические условия
                +e.item 
                  +e.A.link(href="page.html") Нормативно-техническая документация
                +e.item
                  +e.A.link(href="page.html") Пожарный сертификат
                +e.item 
                  +e.A.link(href="page.html") Пожарная декларация
                +e.item 
                  +e.A.link(href="page.html") СБК ТС
                +e.item 
                  +e.A.link(href="page.html") Сертификат происхождения
                +e.item
                  +e.A.link(href="page.html") Сертификат ИСО 
                +e.item 
                  +e.A.link(href="page.html") Сертификат на цемент
                +e.item 
                  +e.A.link(href="page.html") Штрихкодирование
                +e.item 
                  +e.A.link(href="page.html") Патентование
                +e.item
                  +e.A.link(href="page.html") Экспертиза промышленной безопасности
                +e.item 
                  +e.A.link(href="page.html") Озоновое заключение
                +e.item 
                  +e.A.link(href="page.html") Декларация Минсвязи
                +e.item 
                  +e.A.link(href="page.html") Нотификация ФСБ
                +e.item
                  +e.A.link(href="page.html") Лицензия Минпромторга
            +e.slash / 
            +e.item
              +e.A.link(href="javascript:void(0);") Сертификация продукции
              +b.UL.dropdown-menu
                +e.item 
                  +e.A.link(href="page.html") Сертификат 1
                +e.item 
                  +e.A.link(href="page.html") Сертификат 2
                +e.item 
                  +e.A.link(href="page.html") Длинный пункт меню, который не влезает
                +e.item
                  +e.A.link(href="page.html") Сертификат 4 
                +e.item
                  +e.A.link(href="page.html") Сертификат 5
            +e.slash /                 
            +e.item
              +e.A.link(href="page-contacts.html") Контакты
            +e.slash / 
            +b.search
              +e.FORM.form
                +e.INPUT.input(type='text', name='Поиск', placeholder='поиск')
              +e.A.icon(href="javascript:void(0);") 

