include ../abstracts/mixins/_news-item.pug
include ../abstracts/bemto/bemto.pug

// News section
+b.SECTION.news-section   
  +e.inner.container
    .row
      .col-xs-12         
        +e.H2.title 
          a(href="page-news.html") Новости
        +b.A.all-link(href="page-news.html") Все новости (
          span 37
          =' )'
      +newsItem("Новая услуга: подготовка документов для оформления ВНЖ  и гражданства РФ в едином центре документов")
      +newsItem("Новая услуга: подготовка документов для оформления ВНЖ  и гражданства РФ в едином центре документов")
      +newsItem("Новая услуга: подготовка документов для оформления ВНЖ  и гражданства РФ в едином центре документов")
      +newsItem("Новая услуга: подготовка документов для оформления ВНЖ  и гражданства РФ в едином центре документов")

