include ../abstracts/mixins/_question-item.pug
include ../abstracts/bemto/bemto.pug

// Questions
+b.SECTION.questions
  +e.H2.title Вам отвечает специалист
  +e.all-link 
    +b.A.all-link(href="#") Все вопросы (
      span 37
      =' )'  
  +e.UL.list
    +questionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
    +questionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
    +questionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
  +e.ask Задать свой вопрос в эту рубрику
  +e.btn
    +b.A.btn--wide(href="#") Написать свой вопрос

