include ../abstracts/mixins/_question-section-item.pug
include ../abstracts/bemto/bemto.pug

// Questions Section
+b.SECTION.questions-section
  +e.H2.title 
    a(href="page-questions.html") Вам отвечает специалист
  +e.all-link 
    +b.A.all-link(href="page-questions.html") Все вопросы (
      span 37
      =' )'  
  +e.UL.list
    +questionSectionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
    +questionSectionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
    +questionSectionItem("Кто может получить второй действующий заграничный паспорт?","Теперь все россияне без исключения (в том числе и дети) при желании смогут получить второй действующий заграничный паспорт.")
  +e.ask-yourself Задать свой вопрос в эту рубрику
  +e.btn
    +b.A.btn--wide(href="page-questions.html", data-form="question") Написать свой вопрос

