include ../abstracts/mixins/_review-pic.pug
include ../abstracts/bemto/bemto.pug

// Reviews
+b.SECTION.reviews 
  +e.pics
    +reviewPic("review-new01.jpg","Отзыв 1")
    +reviewPic("review-new02.jpg","Отзыв 2")
    +reviewPic("review-new03.jpg","Отзыв 3")
    +reviewPic("review-new04.jpg","Отзыв 4")
    +reviewPic("review-new05.jpg","Отзыв 5")
    +reviewPic("review-new06.jpg","Отзыв 6")
    +reviewPic("review-new07.jpg","Отзыв 7")
    +reviewPic("review-new08.jpg","Отзыв 8")
    +reviewPic("review01.jpg","Отзыв 9")
    +reviewPic("review02.jpg","Отзыв 10")
    +reviewPic("review03.jpg","Отзыв 11")
    +reviewPic("review04.jpg","Отзыв 12")
    +reviewPic("review05.jpg","Отзыв 13")
    +reviewPic("review06.jpg","Отзыв 14")
    +reviewPic("review07.jpg","Отзыв 15")
    +reviewPic("review08.jpg","Отзыв 16")
  +e.form
    include form--review.pug 
  +e.reviews__articles
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 