include ../abstracts/mixins/_review-slide.pug
include ../abstracts/bemto/bemto.pug

// Reviews Section
+b.SECTION.reviews-section
  +e.H2.title 
    a(href="page-reviews.html") С нами уже работают
  +e.gallery
    +reviewSlide("review01.jpg","Отзыв 1")
    +reviewSlide("review02.jpg","Отзыв 2")
    +reviewSlide("review03.jpg","Отзыв 3")
    +reviewSlide("review04.jpg","Отзыв 4")
    +reviewSlide("review05.jpg","Отзыв 5")
    +reviewSlide("review06.jpg","Отзыв 6")
    +reviewSlide("review07.jpg","Отзыв 7")
    +reviewSlide("review08.jpg","Отзыв 8")
    +reviewSlide("review09.jpg","Отзыв 9")
    +reviewSlide("review10.jpg","Отзыв 10")
    +reviewSlide("review11.jpg","Отзыв 11")
    +reviewSlide("review12.jpg","Отзыв 12")
    +reviewSlide("review13.jpg","Отзыв 13")
    +reviewSlide("review14.jpg","Отзыв 14")
    +reviewSlide("review15.jpg","Отзыв 15")
    +reviewSlide("review16.jpg","Отзыв 16")
    +reviewSlide("review17.jpg","Отзыв 17")
    +reviewSlide("review18.jpg","Отзыв 18")
    +reviewSlide("review19.jpg","Отзыв 19")
    +reviewSlide("review20.jpg","Отзыв 20")
    +reviewSlide("review21.jpg","Отзыв 21")
    +reviewSlide("review22.jpg","Отзыв 22")
    +reviewSlide("review23.jpg","Отзыв 23")
    +reviewSlide("review24.jpg","Отзыв 24")
  +e.link-block
    +e.A.link-main(href="page-reviews.html") Как стать клиентом?

    //- - for (var i = 1; i < 8; ++i){
    //-   +reviewSlide("review01.jpg","Документ1")
    //- - }