include ../abstracts/mixins/_review-slide.pug
include ../abstracts/bemto/bemto.pug

// Reviews
+b.SECTION.reviews
  +e.H2.title С нами уже работают
  +e.gallery
    - for (var i = 1; i < 8; ++i){
      +reviewSlide("review01.jpg","Документ1")
    - }
  +e.link-block
    +e.A.link-main(href="#") Как стать клиентом?

