include ../abstracts/mixins/_review-pic.pug
include ../abstracts/bemto/bemto.pug

// Reviews
+b.SECTION.reviews 
  +e.pics
    +reviewPic("review01.jpg","Отзыв 1")
    +reviewPic("review02.jpg","Отзыв 2")
    +reviewPic("review03.jpg","Отзыв 3")
    +reviewPic("review04.jpg","Отзыв 4")
    +reviewPic("review05.jpg","Отзыв 5")
    +reviewPic("review06.jpg","Отзыв 6")
    +reviewPic("review07.jpg","Отзыв 7")
    +reviewPic("review08.jpg","Отзыв 8")
    +reviewPic("review09.jpg","Отзыв 9")
    +reviewPic("review10.jpg","Отзыв 10")
    +reviewPic("review11.jpg","Отзыв 11")
    +reviewPic("review12.jpg","Отзыв 12")
    +reviewPic("review13.jpg","Отзыв 13")
    +reviewPic("review14.jpg","Отзыв 14")
    +reviewPic("review15.jpg","Отзыв 15")
    +reviewPic("review16.jpg","Отзыв 16")
    +reviewPic("review17.jpg","Отзыв 17")
    +reviewPic("review18.jpg","Отзыв 18")
    +reviewPic("review19.jpg","Отзыв 19")
    +reviewPic("review20.jpg","Отзыв 20")
    +reviewPic("review21.jpg","Отзыв 21")
    +reviewPic("review22.jpg","Отзыв 22")
    +reviewPic("review23.jpg","Отзыв 23")
    +reviewPic("review24.jpg","Отзыв 24")
  +e.form
    include form--review.pug 
  +e.reviews__articles
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 
    +b.ARTICLE.review
      +e.H2.title Благодарим за плодотворное сотрудничество
      +e.P.person Компания: 
        span ООО Ринджана                
      +e.P.text Комментарий: 
        span Благодарим за плодотворное сотрудничество, индивидуальный подход, оперативность, грамотность при выполнении работ. 