include ../abstracts/mixins/_service-item.pug
include ../abstracts/bemto/bemto.pug

// Services
+b.SECTION.services
  +e.H1.title Мы работаем по всей России
  .container
    .row
      +serviceItem("Сертификат ГОСТ Р")
      +serviceItem("Добровольный сертификат ГОСТ Р")
      +serviceItem("Декларация ГОСТ Р")
      +serviceItem("Сертификат ТР ТС")
      +serviceItem("Декларация ТР ТС")
      +serviceItem("Государственная регистрация продукции")
      +serviceItem("Экспертное заключение Ростпотребнадзора")
      +serviceItem("Отказное письмо")
      +serviceItem("Сертификат на услуги")
      +serviceItem("Технические условия")
      +serviceItem("Нормативно-техническая документация")
      +serviceItem("Пожарный сертификат")
      +serviceItem("Пожарная декларация")
      +serviceItem("СБК ТС")
      +serviceItem("Сертификат происхождения")
      +serviceItem("Сертификат ИСО")
      +serviceItem("Сертификат на цемент")
      +serviceItem("Штрихкодирование")
      +serviceItem("Патентование")
      +serviceItem("Экспертиза промышленной безопасности")
      +serviceItem("Озоновое заключение")
      +serviceItem("Декларация Минсвязи")
      +serviceItem("Нотификация ФСБ")
      +serviceItem("Лицензия Минпромторга")


