include ../abstracts/bemto/bemto.pug

// Sidebar
+b.ASIDE.sidebar
  +e.form-application
    include form--application.pug
  include location.pug
  +b.A.btn--vk(href="#", data-form="application") ВКонтакте



