include ../abstracts/bemto/bemto.pug

// Sidebar
+b.ASIDE.sidebar
  +e.form-application
    include form--application.pug
  include location.pug
  +b.A.btn--vk(target="_blank" href="https://vk.com/promotest_spb") ВКонтакте



